body {
    padding-top: 50px;
}

.notification {
    background-color: rgba(34, 122, 190, 0.8);
    -webkit-text-fill-color: white;
    clear: right;
    float: right;
    margin-top: 20px;
    margin-right: 200px;
    padding: 0.6%;
    padding-left: 1%;
    padding-right: 1%;
    border-radius: 7px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 15px;

    animation: fade 10s linear forwards;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    5%, 95% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
