body {
    display: block;
    margin: 0;
    overflow-y: hidden;
}

.inventoryBody {
    display: none;
    background-color: rgba(0, 0, 0, 0.35);
    width: 100%;
    height: 100%;
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0);
}
   
::-webkit-scrollbar-thumb {
    background-color: rgb(172, 0, 0); 
}
  
::-webkit-scrollbar-thumb:hover {
    background: rgb(136, 0, 0); 
}

.inventory {
    height: 50%;
    width: 35%;
    border: none;
    overflow-y: scroll;
    box-sizing: border-box;
}

.inventorybox {
    display: inline-block;
    height: 29%;
    width: 18.6%;
    border: 1px solid rgba(255, 255, 255, 0.4);
    margin-left: 0.5%;
    margin-top: 0.3%;
    background-color: rgba(47, 66, 59, 0.15);
    /*background-image: url(cursor.png);*/
    background-size: 100%;
    background-repeat: no-repeat;
    vertical-align: bottom;
    position: relative;
    user-select: none;
    background-position-y: 30%;
}

.inventorybox:hover {
    background-color: rgba(47, 66, 59, 0.35);
}

#externalInventory > .inventorybox:hover {
    background-color: rgba(71, 29, 29, 0.35);
}

#externalInventory > .inventorybox {
    background-color: rgba(71, 29, 29, 0.20);
}

.button {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    width: 9%;
    height: 4%;
    background-color: rgba(151, 18, 18, 0.35);
    margin-left: 45%;
    margin-top: 20%;
    position: absolute;
    border: none;
    outline-color: rgba(190, 8, 8, 0.5);
    user-select: none;
}

.itemtext {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    padding-top: 4%;
    padding-bottom: 3%;
    font-size: 70%;
    width: 100%;
    height: 11%;
    background-color: rgba(22, 11, 11, 0.5);
    position: absolute;
    bottom: 0;
    user-select: none;
}

.weightCount {
    float: right;
    clear: right;
    margin-top: 4%;
    margin-right: 4%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80%;
    color: white;
    font-weight: bold;
    user-select: none;
}

.nameTotalWeight {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 150%;
    font-weight: 530;
    user-select: none;
}

#quickSlotInfo {
    position: absolute;
    width: 125px;
    height: 160px;
    margin-left: 46%;
    margin-top: 40%;
    animation: fade 2s linear forwards;
}

#description {
    display: none;
    position: absolute;
    width: 30%;
    height: 17%;
    margin-left: 33.5%;
    margin-top: 40%;
    padding: 1%;
}

#itemName {
    border-bottom: 2px solid white;
    padding-bottom: 1%;
    font-weight: bold;
}

#itemInfo {
    margin-top: 3%;
    font-size: 100%;
    line-height: 140%;
}

#player {
    margin-top: 6%;
    margin-left: 7.8%;
    position: absolute;
    font-weight: bold;
}

#personalTotalWeight {
    position: absolute;
    font-size: 65%;
    margin-top: 8%;
    margin-left: 7.8%;
}

#external {
    margin-top: 6%;
    margin-left: 57.7%;
    position: absolute;
    font-weight: bold;
}

#externalTotalWeight {
    position: absolute;
    font-size: 65%;
    font-weight: 200;
    margin-top: 8%;
    margin-left: 57.7%;
}

#use {
    margin-top: 25%;
    padding-top: 1%;
}

.button:hover {
    background-color: rgba(128, 15, 15, 0.35);
}

#quantity {
    height: 6%;
}

#personalInventory {
    float: left;
    clear: left;
    margin-left: 7.5%;
    margin-top: 10%;
}

#externalInventory {
    float: right;
    clear: right;
    margin-right: 7.5%;
    margin-top: 10%;
}

.quickSlot {
    height: 14%;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 4%;
    text-align: center;
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 85%;
    font-weight: bold;
    clear: left;
    position: relative;
    display: inline-block;
    user-select: none;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    10%, 90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}